<h1>Epicodus Blogger</h1>
<br />
<br />
<br />
<%= link_to"Create a new Post", new_post_path, class: 'btn btn-primary' %>

<br />
<dl>
  <% @posts.each do |post| %>
    <br />
    <dt><h2><%= post.name %></h2></dt>
    <h4>Authored <%= post.how_long %></h4>
    <dd><%= post.description %></dd> 
  <% end %>

</dl>
